[Unit]
Description=Package management dnf daemon

[Service]
Type=dbus
BusName=org.baseurl.DnfSystem
User=root
ExecStart=/usr/share/dnfdaemon/dnfdaemon-system
